<div class="page-header clearfix">
	<%= link_to "New Update", new_status_path, class: "btn btn-primary pull-right" %>
	<h2>Latest updates</h2>
</div>

<% @statuses.each do |status| %>
	<div class="status">
		<h3><%= status.name %></h3>
		<p><%= status.content %></p>
		<div class="meta">
			<%= link_to time_ago_in_words(status.created_at) + " ago", status %> 
			<span class="admin">
				| <%= link_to "Edit", edit_status_path(status) %> | 
				<%= link_to "Delete", status, method: :delete, data: { confirm: "Oh snap. Ya sure?"} %>
			</span>
		</div>
	</div>
<% end %>